{%extends 'base.html' %} {%block content%} {%load static%}

<!-- topics -->
<section class="section pb-0">
    <div class="container">
        <br>
        <h2 class="section-title">Make your File</h2>
        <hr>
        <div class="row">
            <!-- topic -->

            <!-- topic -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-12">
                <div class="card match-height">
                    <div class="card-body">
                        <iframe id="iframe_pdf" src=" {{ pdf_file.file_upload.url}}" style="width:100%; height:400px;" frameborder="0"></iframe>
                    </div>
                </div>
            </div>

            {% comment %} from create {% endcomment %}


            <div class="col-lg-6 col-md-6 col-sm-12 mb-12">
                <div class="card match-height">
                    <div class="card-body">




                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h3>Strating day :</h3>
                            <input type='number' name='day' value='1'>
                            <h4> Number of Puzzles per page:</h4>
                            <div class="col-md-6 ">
                                <input type='number' name='puzzle' value='60' required>
                            </div>
                            <h3>click button for create new </h3>

                            <!-- <h4>digit Number limit:</h4>
                            <div class="row">
                                <div class="col-md-6 ">
                                    minimum : <input type='number' name='up_min' value="0" required>
                                </div>
                                <div class="col-md-6 ">
                                    Maximum : <input type='number' name='up_max' name='mx_c' value="12" required>
                                </div>
                            </div>
                            <br> -->



                            <!-- <div class="row">

                                <h4> Number of Page:</h4>
                                <div class='col-md-6 '>
                                    Max length : <input type='number' name='page' value='12' required>
                                </div>
                            </div> -->
                            <br>

                            <div id="newElementId"></div>



                            <br>
                            <div class="row">
                                <div class="col-md-12 text-center" id="dynamicCheck">
                                    <input type="button" class="btn btn-outline-primary" value="Create Element" onclick="createNewElement();" />
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="bg-primary" name="form_type" value="formOne"> Submit</button>
                                </div>
                            </div>

                    </div>
                    </form>
                    <script>
                        var count = 0;

                        function createNewElement() {
                            // First create a DIV element.
                            count += 1
                            var txtNewInputBox = document.createElement('div');

                            let newHtml = ''
                            newHtml += "<h1 style='text-align: center;'> Puzzle : " + count + "</h1>";
                            newHtml += "<hr>";
                            newHtml += "<h5> Digit Limit:</h5>";
                            newHtml += "<div class='row'>"
                            newHtml += "<div class='col-md-6 ''>"
                            newHtml += " Min length : <input type='number' name='min" + count + "'value = '0' required>";
                            newHtml += "</div>"
                            newHtml += "<div class='col-md-6 ''>"
                            newHtml += " Maximum : <input type='number' name='max" + count + "' value='12' required>";
                            newHtml += "</div>"
                            newHtml += "</div>"


                            newHtml += "<br>";
                            newHtml += "<br";
                            newHtml += "<div class='row'>";
                            newHtml += "<div class='col-md-6 '>"
                            newHtml += "<h5> Number of Page:</h5>"
                            newHtml += " <input type='number' name='page" + count + "' value='12' required>"
                            newHtml += "</div>"
                            newHtml += "</div>"
                            newHtml += "<br>"
                            newHtml += "<br>"
                            newHtml += "<hr style = 'margin-top:10px; border: 5px solid green;'>"
                            newHtml += "<input type='hidden' name='total_value' value='" + count + "' required>"



                            // Then add the content (a new input box) of the element.
                            txtNewInputBox.innerHTML = newHtml;


                            // Finally put it where it is supposed to appear.
                            document.getElementById("newElementId").appendChild(txtNewInputBox);
                        }
                    </script>


                    <br>
                    <br>
                    <br>

                </div>
            </div>

            <!-- topic -->

        </div>
</section>
<!-- /topics -->
{% endblock %}