{%extends 'base.html' %} {%block content%} {%load static%}

<!-- topics -->
<section class="section pb-0">
    <div class="container">
        <br>
        <h2 class="section-title">Make your File</h2>
        <hr>
        <div class="row">
            <!-- topic -->

            <!-- topic -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-12">
                <div class="card match-height">
                    <div class="card-body">
                        <iframe id="iframe_pdf" src=" {{ addition }}" style="width:100%; height:400px;" frameborder="0"></iframe>
                    </div>
                </div>
            </div>

            {% comment %} from create {% endcomment %}


            <div class="col-lg-6 col-md-6 col-sm-12 mb-12">
                <div class="card match-height">
                    <div class="card-body">




                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% comment %} <h3>Strating day :</h3>
                            <input type='number' name='day' value='1'> {% endcomment %}
                            <div class="col-md-6 ">
                                <a href="{%url 'wordsearch-design'%}">
                                    <div class="scroll-top">
                                       <button type="button" class="btn btn-primary">
                                           <i class="fa fa-angle-up"> Config design</i>
                                    </div>
                                </a>
                            </div>
                         
                            <br>


                                <div class="row">
                                    <div class="col-md-6"  >
                                        {% comment %} <span class="input-group-text text-white bg-dark" id="basic-addon2">Word Section</span> {% endcomment %}
                                        {% comment %} <br> {% endcomment %}

                                        <div class="input-group mb-3">
                                            <select class="form-select " aria-label="Default select example" name = "problem_per_page">
                                                <option selected value = "0">problem per page</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="4">4</option>                               
                                            </select>
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="{{info.numbering_font_size}}" aria-label="Recipient's username" aria-describedby="basic-addon2" value='100' name="number_puzzle" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2" >Number of puzzle</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6"  >
                                        {% comment %} Word Section {% endcomment %}
                                        <span class="input-group-text text-white bg-dark" id="basic-addon2">One Side</span>
                                        <br>
                                        <div class="input-group mb-3">
                                            <div class="form-check form-switch">
                                                <label class="container">
                                                    <input type="radio" value="1" name="one_side">
                                                    <span class="checkmark">Yes</span>
                                                  </label>
                                                  <label class="container">
                                                    <input type="radio"  value="0" name="one_side">
                                                    <span class="checkmark">No</span>
                                                  </label>
                                            </div> 
                                           
                                        </div>
                                        <span class="input-group-text text-white bg-dark" id="basic-addon2">Show Answer</span>
                                        <br>
                                        <div class="input-group mb-3">
                                            <div class="form-check form-switch">
                                                <label class="container">
                                                    <input type="radio" value="1" name="answer_show">
                                                    <span class="checkmark">Yes</span>
                                                  </label>
                                                  <label class="container">
                                                    <input type="radio"  value="0" name="answer_show">
                                                    <span class="checkmark">No</span>
                                                  </label>
                                            </div> 
                                           
                                        </div>
                                    </div>
                                    
                                </div>                                
                            </div>





                            
                            <br>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="bg-primary" name="form_type" value="formOne"> Submit</button>
                                </div>
                            </div>


                    </div>
                    </form>
                    

                    <br>
                    <br>
                    <br>

                </div>
            </div>

            <!-- topic -->

        </div>
</section>
<!-- /topics -->


{% endblock %}