{%extends 'base.html' %} {%block content%} {%load static%}

<!-- topics -->
<section class="section pb-0">
    <div class="container">
        <br>
        <h2 class="section-title">Make your File</h2>
        <hr>
        <div class="row">
            <!-- topic -->

            <!-- topic -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-12">
                <div class="card match-height">
                    <div class="card-body">
                        <iframe id="iframe_pdf" src=" {{ inner_design }}" style="width:100%; height:400px;" frameborder="0"></iframe>
                    </div>
                    <div class="card-body">
                        <h4>Header section</h4>
                        <form method="post" >
                            {% csrf_token %}
                            <select class="form-select" aria-label="Default select example" name = "fonts">
                                <option selected value = "0">select text font</option>
                                <option value="AngryCyborg">AngryCyborg</option>
                                <option value="AngryCyborg3D">AngryCyborg3D</option>
                                <option value="AnimalCuteIcon">AnimalCuteIcon</option>
                            </select>
                            <br>
                            {% comment %} ################################################################################# {% endcomment %}
                            {% comment %} Ttitle section {% endcomment %}
                            {% comment %} ################################################################################# {% endcomment %}
                            <div class="row">
                                <span class="input-group-text text-white bg-dark" id="basic-addon2">Title  section </span>
                                <div class="col-md-6"  >
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                        <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">font size</span>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="col-md-6"  >
                                    <div class="input-group mb-3">
                                        <div class="form-check form-switch">
                                            <label class="form-check-label" for="flexSwitchCheckChecked">Want to show Day option?</label>
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            {% comment %}  rectangular size change {% endcomment %}
                            <div class="row">
                                <div class="col-md-12 "  >
                                    <div  class="d-flex justify-content-center input-group-text  .bg-light" >
                                       Rectangle size change
                                    </div>                                 
                                </div>

                                <div class="row">
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Up-down</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Left-right</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="input-group mb-3">
                                <div class="form-check form-switch">
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Want to Fill the rectangle?</label>
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                  </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12 "  >
                                    <div  class="d-flex justify-content-center input-group-text  .bg-light" >
                                       Rectangle position change
                                    </div>                                 
                                </div>

                                <div class="row">
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Up-down</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Left-right</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <hr>
                            
     
                            <div class="row">
                                <div class="col-md-12 "  >
                                    <div  class="d-flex justify-content-center input-group-text  .bg-light" >
                                       Text position change
                                    </div>                                 
                                </div>

                                <div class="row">
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Up-down</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Left-right</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                             {% comment %} ################################################################################# {% endcomment %}
                            {% comment %} Name section {% endcomment %}
                            {% comment %} ################################################################################# {% endcomment %}
                            <div class="row">
                                <span class="input-group-text text-white bg-dark" id="basic-addon2">Name  section </span>
                                <div class="col-md-6"  >
                                    <div class="input-group mb-3">
                                        <div class="form-check form-switch">
                                            <label class="form-check-label" for="flexSwitchCheckChecked">Want to show name?</label>
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                          </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="col-md-6"  >
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                    <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">font size</span>
                                    </div>
                                </div>
                                
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12 "  >
                                    <div  class="d-flex justify-content-center input-group-text  .bg-light" >
                                       Text position
                                    </div>                                 
                                </div>

                                <div class="row">
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Up-down</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Left-right</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>

                            {% comment %} ################################################################################# {% endcomment %}
                            {% comment %} Score section {% endcomment %}
                            {% comment %} ################################################################################# {% endcomment %}
                            <div class="row">
                                <span class="input-group-text text-white bg-dark" id="basic-addon2">Score  section </span>
                                <div class="col-md-6"  >
                                    <div class="input-group mb-3">
                                        <div class="form-check form-switch">
                                            <label class="form-check-label" for="flexSwitchCheckChecked">Want to show Score?</label>
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                          </div>
                                    </div>
                                </div>
                                <br>
                            </div>

                            <div class="row">
                                <div class="col-md-6"  >
                                    <select class="form-select" aria-label="Default select example" name = "fonts">
                                        <option value="round">Circle</option>
                                        <option value="none">None</option>
                                    </select>
                                </div>
                                <br>
                                <div class="col-md-6"  >
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                        <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">Circle size</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"  >
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                        <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">Change font size</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 "  >
                                    <div  class="d-flex justify-content-center input-group-text  .bg-light" >
                                       Circle position
                                    </div>                                 
                                </div>

                                <div class="row">
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Up-down</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Left-right</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12 "  >
                                    <div  class="d-flex justify-content-center input-group-text  .bg-light" >
                                       Text position
                                    </div>                                 
                                </div>

                                <div class="row">
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Up-down</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Left-right</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            {% comment %} ################################################################################# {% endcomment %}
                            {% comment %} Time section {% endcomment %}
                            {% comment %} ################################################################################# {% endcomment %}
                            <div class="row">
                                <span class="input-group-text text-white bg-dark" id="basic-addon2">Time  section </span>
                                <div class="col-md-6"  >
                                    <div class="input-group mb-3">
                                        <div class="form-check form-switch">
                                            <label class="form-check-label" for="flexSwitchCheckChecked">Want to show time?</label>
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                          </div>
                                    </div>
                                </div>
                                <br>
                            </div>

                            <div class="row">
                                <div class="col-md-6"  >
                                    <select class="form-select" aria-label="Default select example" name = "fonts">
                                        <option value="round">Default</option>
                                        <option value="none">None</option>
                                    </select>
                                </div>
                                <br>
                                <div class="col-md-6"  >
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                        <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">change rectangel size</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"  >
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                        <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">Change font size</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 "  >
                                    <div  class="d-flex justify-content-center input-group-text  .bg-light" >
                                       Rectangle position
                                    </div>                                 
                                </div>

                                <div class="row">
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Up-down</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Left-right</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12 "  >
                                    <div  class="d-flex justify-content-center input-group-text  .bg-light" >
                                       Text position
                                    </div>                                 
                                </div>

                                <div class="row">
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Up-down</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"  >
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="header_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Left-right</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>


                        </form>
                    </div>
                </div>


            </div>

             {% comment %} ################################################################################# {% endcomment %}
             {% comment %} ################################################################################# {% endcomment %}
             {% comment %} ################################################################################# {% endcomment %}
             {% comment %} ################################################################################# {% endcomment %}
            {% comment %} inner section {% endcomment %}
            {% comment %} ################################################################################# {% endcomment %}
            {% comment %} ################################################################################# {% endcomment %}
            {% comment %} ################################################################################# {% endcomment %}
            {% comment %} ################################################################################# {% endcomment %}

            
            <div class="col-lg-6 col-md-6 col-sm-12 mb-12">
                <div class="card match-height">
                    <div class="card-body">



                        <h4>Inner section</h4>
                        <form method="post" >
                            {% csrf_token %}
                            <select class="form-select" aria-label="Default select example" name = "fonts">
                                <option selected value = "0">select text font</option>
                                <option value="AngryCyborg">AngryCyborg</option>
                                <option value="AngryCyborg3D">AngryCyborg3D</option>
                                <option value="AnimalCuteIcon">AnimalCuteIcon</option>
                            </select>
                            <br>
                            <div class="row">
                                <div class="col-md-12 " style="margin-bottom: 10px;" >
                                    <div  class="d-flex justify-content-center input-group-text  .bg-light" >
                                       Font size change
                                    </div>                                 
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6"  >
                                        <span class="input-group-text text-white bg-dark" id="basic-addon2">Numbering section </span>
                                        <div class="input-group mb-3">
                                            <div class="form-check form-switch">
                                                <label class="form-check-label" for="flexSwitchCheckChecked">Want to show numbering section?</label>
                                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                              </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="numbering_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2" >Numbering font size</span>
                                            </div>
                                        </div>
                                        {% comment %} Numbering position change {% endcomment %}
                                        <h5>Numbering position change</h5>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="numbering_up_down" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2" >Up-Down</span>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="numbering_left_right" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2" >Right-Left</span>
                                            </div>
                                        </div>
                                       
                                    </div>



                                    <div class="col-md-6"  >
                                        {% comment %} digit section {% endcomment %}
                                        <span class="input-group-text text-white bg-dark" id="basic-addon2">Digit section </span>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="digit_font_size" >
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">Digit font size</span>
                                            </div>
                                        </div>
                                     
                                        <div class="row">
                                            {% comment %} <div class="col-md-6"  >   {% endcomment %}
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="digit_up_down" >
                                                    <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">Up-down</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% comment %} <div class="col-md-6"  >   {% endcomment %}
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="digit_left_ri" >
                                                    <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">Left-right</span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>  
                                    </div>
                                    
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-6"  >
                                    <span class="input-group-text text-white bg-dark" id="basic-addon2">Rectangle section </span>
                                    <div class="input-group mb-3">
                                        <div class="form-check form-switch">
                                            <label class="form-check-label" for="flexSwitchCheckChecked">Want to show numbering section?</label>
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                          </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="numbering_font_size" >
                                        <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2" >Numbering font size</span>
                                        </div>
                                    </div>
                                    {% comment %} Numbering position change {% endcomment %}
                                    <h5>Numbering position change</h5>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="numbering_up_down" >
                                        <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2" >Up-Down</span>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="number" aria-label="Recipient's username" aria-describedby="basic-addon2" name="numbering_left_right" >
                                        <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2" >Right-Left</span>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            


                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="scroll-top">
                                        <button  type="submit" class="bg-primary" name="form_type" value="formOne">
                                            <i class="fa fa-angle-up"> practice</i>
                                    </div>
                                </div>
                            </div>

                    </div>
                    </form>
                   
                    <br>
                    <br>
                    <br>

                </div>
            </div>

            <!-- topic -->

        </div>
</section>

{% endblock %}